@media screen and (max-width: 750px) {
    .front-page-ani {
       display:none;
    }
    
  }

body {
   
}



a:link {
    text-decoration: none;
}

.white-btn {
    color: black;
}

.container-fluid {
   background-color: #ddd;
 }


 /*header starts here */

 #header {
     background-color: black;
     margin-left: -15px;
     margin-right: -15px;
 }

#top-menu {
    background-color: black;
    
    min-height: 31px;
}

.navbar {
    line-height: 20px;
}

.nav-item {
    color: black;
}

.nav-link {
    color: black;
}

#top-menu-elements {
    background-color: black;
    margin-left: 0px;
    margin-right: 0px;
}

#mail-us {
    color:white;
}

.top-menu-item-left {
    color: white;
    
}

.top-menu-item-right {
    color: white;
   
}

.nav-link {
    color:black!important;
}

/*header starts here */

#main-slideshow {
    background-color: black;
    height:100%!important;
    
}

#header-slide {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    z-index:-1;
    transition: opacity .5s ease-in-out;
}

#slide-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:1152px;
}
/* SLIDESHOW CONTROLS, JAVASCRIPT TO DO
.slideshow-controls {
    height: 120px;
    position:relative;
    margin-top:-350px;
    z-index:2;
}

.slideshow-controls:hover {
    cursor:pointer;
}

#slideshow-right-button {
    float:right;  
    opacity:0;
    transition: 1s;
}

#slideshow-left-button {
    float:left;  
    opacity:0;
    transition: 1s;
}
*/

.main {
    background-color: white;
}
.title {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#main-page-content {
    font-family: 'Lato', sans-serif;
    font-size:1em;
    text-align:center;
    
}

.main-page-categories {
    height:auto;
    background-color: #282828;
    
}

#interior-title {
    color: white;
     text-align:center;
}

.main-page-text {
    text-align:center;

}

#main-page-interior-text {
    color: white;
}

.front-page-ani {
    margin-top:-400px;
}

.front-carousel {
    padding: 0px !important;
    margin: 0px !important;
    max-width:100%;
    height:auto;
    transition: 0.3s;
    border: 1px solid white;
    
}

.front-carousel:hover {
    cursor:pointer;
}

#exterior-doors {
    background-color: white;
}

#main-page-exterior-text {
    color: black;
}

.main-banners {
    height:100%!important;
}


.carousel-title-box {
    width: 100%;
    height:100%;
    background-color: white;
    opacity: 0.7;
    position:absolute;
    top: 0;
    left: 0;
}

.carousel-title-box {
    display: none;
    transition: .5s ease-in-out;
}

.carousel-title {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 34px;
    line-height:40px;
    padding-top:100px;
    transition: .5s ease-in-out;
    color:black;
    font-weight: bold;
}

#footer {
    background-color: rgb(40,40,40);
    height: 50px;
}

#credits {
    color: white;
    line-height: 50px;
    font-weight: bold;
}


.carousel-1 {
    display:flex;
   
}

.carousel-2 {
    display:flex;
   
}

.btn-front {
    padding-bottom:10px;
}

/*SUB PAGES*/

.sub-title-container {
    background-color: rgb(40,40,40);
}

.sub-title {
    color:white;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    font-family: 'Lato', sans-serif;
}

.products-catalog {
    margin-top:10px;
    background-color: #ddd;
    width:100%;
}

.catalog-des {
    font-family: 'Lato', sans-serif;
    font-size:20px;
    text-align: center;
    color: black;
}

.cat-stock {
    font-family: 'Lato', sans-serif;
    font-size:22px;
    text-align: center;
    color: red;
    font-weight: bold;
}

.cat-pic {
    transition: transform .2s;
    margin-bottom: 5px;
}

.cat-pic:hover {
    transform: scale(1.05);
    cursor: pointer;
}
/*/SUB PAGES*/

/*INTERIOR DOORS PRODUCT*/

.paralax-interior {
    /* The image used */
    background-image: url("/src/images/int-back.png");
    background-color: black;

    /* Set a specific height */
    height: auto;; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inter-desc-container {
    height: auto;
    margin-top:130px;
    margin-bottom:60px;
    background-color: rgba(255,255,255,0.7);

}

.inter-prod-title {
    text-align: center;
    font-family: 'Cantata One', serif;
    font-size: 34px;
    font-weight: bold;
    padding-top:10px;
}

.inter-prod-stock {
    text-align: center;
    font-family: 'Cantata One', serif;
    color: red;
    font-size: 34px;
    font-weight: bold;
}

.inter-prod-subtit {
    text-align: center;
    font-family: 'Cantata One', serif;
    font-style: italic;
    font-size: 28px;
}

.inter-prod-desc {
    text-align: center;
    font-family: 'Cantata One', serif;
    font-size:18px;
}

.spec-btn {
    margin-top:10px;
    margin-bottom:10px;
}

.core-avail {
    background-color:white;
}

.core-avail-title {
    text-align: center;
    font-family: 'Cantata One', serif;
    font-size:28px;
}

.prod-image {
    max-width:100%;
}

.core-avail-desc {
    font-family: 'Cantata One', serif;
    font-size:14px;
    margin-bottom:5px;
}

.door-options {
    background-color: #23282d;
}

.opt-title {
    color:white;
    font-family: 'Cantata One', serif;
}

.opt-desc {
    color:white;
    font-family: 'Cantata One', serif;
    font-size: 14px;
    margin-bottom: 5px;
}

/*----- TABS -----*/

.tabs-container {
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    copy
}

.tabs {
	width:100%;
	display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
	.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li {
	margin:0px 5px;
	float:left;
	list-style:none;
}

.tab-links a {
	padding:9px 15px;
	display:inline-block;
    border-radius:5px 5px 0px 0px;
    margin-top:10px;
    margin-bottom:0px;
	background:rgb(162, 173, 180);
	font-size:16px;
	font-weight:600;
	color:#4c4c4c;
	transition:all linear 0.15s;
}

.tab-links a:hover {
	background:#fff;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background:#fff;
	color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
	padding:15px;
    border-radius:3px;
    margin-top:-16px;
	box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
	background:#fff;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}
/*----- /TABS -----*/

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    max-width:100%;
}

.center {
    margin: 0 auto;
    float: none;

}

.related-products-title {
    color: white;
    background-color: #000000;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size:1.5em;
}

.gallery-image {
    transition: transform .2s; 
    padding: 10px 10px 10px 10px;
    max-height:200px;
    height:200px;
}

.gallery-image:hover {
    transform: scale(1.1);
    cursor:pointer;
}


.modal-dialog {width:600px;}
.thumbnail {margin-bottom:6px;}